[flake8]
# Не проверять код на соответствие стандартам W503 и F811
ignore =
    W503,
    F811
# Не проверять код в перечисленных директориях:
exclude =
    tests/,
    */migrations/,
    venv/,
    */venv/,
    .venv/,
    env/,
    */env/,
    __pycache__,
# Не проверять указанные файлы на соответствие определённым правилам:
per-file-ignores =
    */settings.py:E501,
    */__init__.py:D104,
    */apps.py:D100,D101,D204,
    */admin.py:D100,D101,
    */models.py:D100,D101,
    */views.py:D100,D101,D102,
    */serializers.py:D100,D101,D106
