[flake8]
ignore =
    W503,
    F811
exclude =
    .venv,
    .venv/*,
    venv,
    venv/*,
    env,
    env/*,
    */migrations/*,
    __pycache__,
    .git,
    node_modules
max-line-length = 79
per-file-ignores =
    */settings.py:E501
